*.suo
*.user
*.ide-wal
*.lock
*.ide
*.ide-shm
*.zip
*.json
*.xml
*.txt
*.crdata
_ReSharper.*
bin
obj
packages
Server.Configurations
Server.Configurations\*
Zolian.Server.Base/Common
Zolian.Server.Base/Common\*
Zolian.Server.Base/GameScripts
Zolian.Server.Base/GameScripts\*
Zolian.Server.Base/Database
Zolian.Server.Base/Database\*
Zolian.Server.Base/Sprites
Zolian.Server.Base/Sprites\*
Zolian.Server.Base/Network/GameServer/Components
Zolian.Server.Base/Network/GameServer/Components\*
ZolianTest
ZolianTest\*
Data
Data\*
game
game\*
Staging
Staging\*
*.vs
*.vs\*
.vs
vs
.git
git\*
